/* Style definitions */
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #c115b8;
    background-color: antiquewhite;
}


h1 {
    color: #010503; /* Font color */
}

.header{
    text-align: center;
}

.outside{
    text-align:left;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #fbfbfb; /* Border color */
}

ol li {
    color:rgb(25, 0, 211);
}

